{% extends "base.html.twig" %}
{% block title %}
	Detail Article
{% endblock %}
{% block body %}
	{% block header %}
		{{parent()}}
	{% endblock %}
	<div class="container">
		<section class="detail-content">
			<article class="post">
				<img src="{{ asset("uploads/img/" ~ article.images) }}" alt="image1"/>
				<h2>{{ article.title }}</h2>
				<p>
					{{ article.description|raw }}
				</p>
				{% if article.citation %}
					<blockquote>
						<p>
							{{article.citation|raw}}
						</p>
						<cite></cite>
					</blockquote>
				{% endif %}

				{% if article.image2 or article.image3 %}
					<div class="detail-img">
						<img src="{{ asset("uploads/img/" ~ article.image2) }}" alt="image2"/>
						<img src="{{ asset("uploads/img/" ~ article.image3) }}" alt="image3"/>
					</div>
				{% endif %}
				{% if article.description2 %}
					<p>
						{{article.description2|raw }}
					</p>
				{% endif %}

			</article>
			<div class="comment">
				<div class="comment-content">
					{% for comment in article.comment|filter(c => c.active == 1) %}
						{% if comment.parent == null %}
							<div class="comment-item" data-id="{{comment.id}}">
								<h3>{{comment.author}},
									<span>a écrit le
										{{comment.DateCreation|date("d/m/Y H:i")}}</span>
								</h3>
								<p>{{comment.content|raw}}</p>
								<a href="#commentForm" data-author="{{comment.author}}" data-reply data-id="{{comment.id}}">{{"Reply"|trans}}
									&#10550;</a>
								<div class="comment-replies">
									{% for reply in comment.replies %}
										<div class="comment-item">
											<h3>{{reply.author}},
												<span>a répondu le
													{{reply.DateCreation|date("d/m/Y H:i")}}</span>
											</h3>
											<p>{{reply.content|raw}}</p>
										</div>
									{% endfor %}
								</div>
							</div>
						{% endif %}
					{% endfor %}
				</div>
			</div>
			<div class="comment-section" id="commentForm">
				<h3>{{'Leave a Reply'|trans}}</h3>
				{{ form(form) }}
					{% for message in app.flashes('form_success') %}
						<div class="alert alert-success">
							{{ message }}
						</div>
					{% endfor %}
				</div>
			</section>
			{% block sidebar %}
				{{parent()}}
			{% endblock %}
		</div>
		{% block footer %}
			{{parent()}}
		{% endblock %}
	{% endblock %}
	{% block javascripts %}
		<script src="{{asset("js/detail.js")}}"></script>
	{% endblock %}
