{% extends "base.html.twig" %}
{% block title %}Listing Article
{% endblock %}
{% block body %}
	<div class="container">
		<section class="listing-post">
			{% if articles|length >= 1 %}
				{% for article in articles|reverse|slice(0, 5) %}
					<article class="post">
						<a class="content-img" href="{{ path('blog_detail', {'slug': article.slug}) }}">
							<img class="main-img" src="{{ asset("uploads/" ~ article.images) }}" alt=""/>
						</a>
						<div class="post-content">
							<a href="#">
								<p class="tag">{{article.category}}</p>
							</a>
							<h3 class="title">
								<a href="{{ path('blog_detail', {'slug': article.slug}) }}">{{ article.title }}</a>
							</h3>
							<p>{{ article.description|u.truncate(500, '...')|raw }}</p>
							<div class="btn">
								<a href="{{ path('blog_detail', {'slug': article.slug}) }}">
									<span>{{"Read More"|trans}}</span>
								</a>
							</div>
						</div>
					</article>
				{% endfor %}
			{% else %}
				<article class="post">
					<div class="error">
						<p>{{userSearch is defined and userSearch ? "No posts found !"|trans : 'No posts for the moment !'|trans}}</p>
						<img src="{{asset("img/404.jpg")}}" alt="Not found"/>
					</div>
				</article>
			{% endif %}

			{{ knp_pagination_render(articles) }}

		</section>
		{% block aside %}
			{{parent()}}
		{% endblock %}
	</div>
{% endblock %}
