{% extends "base.html.twig" %}
{% block title %}Listing Article
{% endblock %}
{% block body %}
	{% block header %}{% endblock %}
	<div class="container">
		<section class="listing-post">
			{% for article in articles|reverse|slice(0, 5) %}
				<article class="post">
					<a class="content-img" href="{{ path('blog_detail', {'slug': article.slug}) }}">
						<img src="{{ asset("uploads/img/" ~ article.images) }}" alt=""/>
					</a>
					<div class="post-content">
						<a href="#">
							<p class="tag">{{article.category}}</p>
						</a>
						<h5 class="title">
							<a href="#">{{ article.title }}</a>
						</h5>
						<p>{{ article.description }}</p>
						<div class="btn">
							<a href="{{ path('blog_detail', {'slug': article.slug}) }}">Read More</a>
						</div>
					</div>
				</article>
			{% endfor %}

			<div class="pagination">
				<ul>
					<li><a href="">&lt;</a></li>
					<li><a href="">1</a></li>
					<li><a href="">2</a></li>
					<li><a href="">3</a></li>
					<li><a href="">></a></li>
				</ul>
			</div>
		</section>
		{% block sidebar %}
			{{parent()}}
		{% endblock %}
	</div>
{% endblock %}
