<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<title>
			{% block title %}{% endblock %}
		</title>
		{% block stylesheets %}
			<link rel="stylesheet" href="{{asset("css/style.css") }}"/>
			<link rel="stylesheet" href="{{asset("css/detail.css") }}"/>
			<link rel="stylesheet" href="{{asset("css/header.css") }}"/>
			<link rel="stylesheet" href="{{asset("css/footer.css") }}"/>
		{% endblock %}
		<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Barlow&amp;family=Barlow+Condensed&amp;family=Gilda+Display&amp;display=swap"/>
		<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"/>
		<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
	</head>
	<body>
		{% include "header.html.twig" %}
		{% block body %}
			{% block aside %}
				<aside class="side-bar">
					<div class="widget search">
						<form id="search-article">
							<input name="search-value" type="text" placeholder="{{"Search article"|trans}}" value="{{ userSearch is defined and userSearch ? userSearch : ''}}"/>
							<button type="submit">
								<svg fill="#000000" height="16px" width="16px" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewbox="0 0 490.4 490.4" xml:space="preserve">
									<g>
										<path d="M484.1,454.796l-110.5-110.6c29.8-36.3,47.6-82.8,47.6-133.4c0-116.3-94.3-210.6-210.6-210.6S0,94.496,0,210.796
																																																																																																																																																																													s94.3,210.6,210.6,210.6c50.8,0,97.4-18,133.8-48l110.5,110.5c12.9,11.8,25,4.2,29.2,0C492.5,475.596,492.5,463.096,484.1,454.796z
																																																																																																																																																																													M41.1,210.796c0-93.6,75.9-169.5,169.5-169.5s169.6,75.9,169.6,169.5s-75.9,169.5-169.5,169.5S41.1,304.396,41.1,210.796z"/>
									</g>
								</svg>
							</button>
						</form>
					</div>
					<div class="widget recent">
						<h3 class="title-widget">{{'Recent posts'|trans}}</h3>
						<ul>
							{% for post in posts|reverse|slice(0, 3) %}
								<li>
									<img src="{{ asset("uploads/img/" ~ post.images) }}" alt=""/>
									<a href="{{ path('blog_detail', {'slug': post.slug}) }}">{{post.title}}</a>
								</li>
							{% endfor %}
						</ul>
					</div>
					<div class="widget category">
						<h3 class="title-widget">{{'Categories'|trans}}</h3>
						<ul>
							{% set displayedCategories = [] %}
							{% for post in posts|reverse|slice(0, 3) %}
								{% if post.category not in displayedCategories %}
									{% set displayedCategories = displayedCategories|merge([post.category]) %}
									<li>
										<a href="#">
											{{post.category}}</a>
									</li>
								{% endif %}
							{% endfor %}
						</ul>
					</div>
					<div class="widget tags">
						<h3 class="title-widget">Tags</h3>
						<ul>
							{% if tags is defined and tags|length %}
								{% for tag in tags %}
									<li>
										<a href="#">{{tag.label}}</a>
									</li>
								{% endfor %}
							</ul>
						</div>
					{% endif %}
				</aside>
			{% endblock %}
		{% endblock %}
		{% include "footer.html.twig" %}
			{% block javascripts %}
				<script>
					var BASE_URL = "{{ path('blog_listing') }}"
				</script>
				<script src="{{asset("js/index.js")}}"></script>
			{% endblock %}
	</body>
</html>
