<footer class="footer">
	<div class="row">
		<img class="logo-footer" src="{{ asset('img/logo.png') }}" alt="Logo">
		<div class="footer-col">
			<h4>{{ "About"|trans }}</h4>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam orci est, luctus sagittis diam eget, elementum consequat eros. Nulla sed diam ut magna imperdiet tempor. Maecenas placerat erat egestas pharetra luctus. Duis consectetur gravida nunc, in scelerisque nulla
			</p>
		</div>
		<div class="footer-col">
			<h4>{{ "Explore"|trans }}</h4>
			<ul>
				<li><a href="{{path('blog_listing')}}">{{"Home"|trans}}</a></li>
			</ul>
		</div>
		<div class="footer-col">
			<h4>{{"Contact"|trans}}</h4>
			<div class="social-links">
				<a href="#">
					<i class="fab fa-facebook-f"></i>
				</a>
				<a href="#">
					<i class="fab fa-twitter"></i>
				</a>
				<a href="#">
					<i class="fab fa-instagram"></i>
				</a>
				<a href="#">
					<i class="fab fa-linkedin-in"></i>
				</a>
			</div>
		</div>
	</div>
</footer>
