<header>
	<div class="content">
		<a class="logo" href=""><img src="{{ asset('img/logo.png') }}" alt="Logo"></a>
		<div class="toggler">
			<svg viewbox="0 0 100 80" width="40" height="40">
				<rect width="100" height="20" rx="8"></rect>
				<rect y="30" width="100" height="20" rx="8"></rect>
				<rect y="60" width="100" height="20" rx="8"></rect>
			</svg>
		</div>

		<nav>
			<ul>
				<li><a href="{{path('blog_listing')}}" class="active">{{"Home"|trans}}</a></li>
				<li><a href="#">{{"About"|trans}}</a></li>
				<li><a href="#">{{"Contact"|trans}}</a></li>
			</ul>
		</nav>
	</div>
</header>
